{% extends 'base.html' %}
{% block base %}
    {% block title %}
    <title>期货交易风险说明书</title>
    {% endblock %}

<h3 class="text-center ">期货交易风险说明书</h3>
<h4 class="text-center ">市场风险莫测  务请谨慎从事</h4>
<div class="center">
    <hr>
    <p>尊敬的客户：</p>
    <p class="text-indent">根据中国证监会的规定，现向您提供本《期货交易风险说明书》。本说明书所称期货交易，是指采用公开的集中交易方式或者国务院期货监督管理机构批准的其他方式进行的以期货合约或者期权合约为交易标的的交易活动。您应当遵循“买卖自负”的金融市场原则，理解期货合约交易与期权合约交易的全部交易规则，认识期货交易风险，自行承担交易结果。</p>
    <p class="text-indent">您在考虑是否进行期货交易时，应当明确以下几点：</p>
    <p class="text-indent">一、您应当充分了解到，期货合约交易采取保证金交易方式，具有杠杆性，带有高度的风险。相对较小的市场波动，可能使您产生巨大亏损，损失的总额可能超过您存放在期货公司的全部初始保证金以及追加保证金。期权合约交易采取权利金和保证金的交易方式，如您购买期权合约可能没有任何收益，甚至损失全部投资；如您卖出期权合约，您可能发生巨额损失，这一损失可能远大于该期权的权利金，并可能超过您存放在期货公司的全部初始保证金以及追加保证金。</p>
    <p class="text-indent">二、您应当充分了解到，假如市场走势对您不利导致您的账户保证金不足时，期货公司会按照期货经纪合同约定的时间和方式通知您在规定时间内追加保证金，以使您能继续持有未平仓合约。如您未于规定时间内存入所需保证金，您持有的未平仓合约将可能在亏损的情况下被强行平仓，您必须承担由此导致的一切损失。</p>
    <p class="text-indent">三、您必须认真阅读并遵守期货交易所和期货公司的业务规则，如您无法满足期货交易所和期货公司业务规则规定的要求，您所持有的未平仓合约将可能根据有关规则被强行平仓，您必须承担由此产生的后果。</p>
    <p class="text-indent">四、您应当充分了解到，在因市场行情波动剧烈出现单边涨跌停价格、投资者缺乏投资兴趣、流动性的变化或其他因素给某些合约市场的流动性、有效性、持续性等带来不利影响时，您可能会难以或无法将持有的未平仓期货合约或期权合约平仓。如出现这类情况，您的所有保证金有可能无法弥补全部损失，您必须承担由此导致的全部损失。</p>
    <p class="text-indent">五、您应当充分了解到，由于国家法律法规的变化、期货交易所交易规则的修改、紧急措施的出台等原因，您持有的未平仓合约可能无法继续持有，您必须承担由此导致的全部损失。</p>
    <p class="text-indent">六、您应当充分了解到，交易所根据法律法规规定和中国证监会授权可能会对期货合约或期权合约的交易和行权（履约）进行一些限制。交易所有权根据市场需要暂停期货合约或期权合约交易，如果标的期货合约暂停交易， 对应期权合约交易也将暂停交易。</p>
    <p class="text-indent">七、您应当充分了解到，由于非期货交易所或者期货公司所能控制的原因，例如：地震、水灾、火灾等不可抗力因素或者计算机系统、通讯系统故障等，可能造成您的指令无法成交或者无法全部成交，您必须承担由此导致的损失。</p>
    <p class="text-indent">八、您应当充分了解到，在期货交易中，所有的交易结果须以当日交易所或结算机构的结算数据为依据。如您利用盘中即时回报的交易结果作进一步的交易，您可能会承担额外的风险。</p>
    <p class="text-indent">九、您应当充分了解到，期货合约交易可能面临平仓、交割等几种后果，您到时未平仓或参与交割不符合期货交易所相关业务规则规定的，需要承担被强行平仓或交割违约的风险。</p>
    <p class="text-indent">十、您应当充分了解到，期权合约交易可能面临平仓、行权或期权到期放弃等几种后果，您应当熟知交易所期权平仓、行权的规则和程序，特别是有关实值期权到期自动行权，虚值期权到期自动放弃的交易规则，妥善处理期权持仓。如您买入期权，行权应该在交易所规定的时间内进行；如您卖出期权，则需要按照交易所规则承担履约责任。行权或履约后，您将获得标的期货合约，同时应当承担标的期货合约的保证金责任。</p>
    <p class="text-indent">十一、您应当充分了解到，“套期保值”交易同投机交易一样，同样面临价格波动引起的风险。</p>
    <p class="text-indent">十二、您应当充分了解到，如果您未遵守中国证监会关于期货保证金安全存管的规定，将可能会影响您的期货保证金的安全性。</p>
    <p class="text-indent">十三、您应当充分了解到，利用互联网进行期货交易时将存在但不限于以下风险，您将承担由此导致的损失：</p>
    <ul class="">
        <li>（一）由于无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障、网络故障及其它因素，可能导致交易系统非正常运行甚至瘫痪，使您的交易指令出现延迟、中断、数据错误等情况；</li>
        <li>（二）由于网上交易系统存在被网络黑客和计算机病毒等攻击的可能性，由此可能导致交易系统故障，使交易无法进行及行情信息出现错误或延迟；</li>
        <li>（三）由于互联网上的数据传输可能因通信等原因出现延迟、中断、数据错误或不完全，从而使网上交易及行情出现延迟、中断、数据错误或不完全；</li>
        <li>（四）由于您未充分了解期货交易及行情软件的实际功能、信息来源、固有缺陷和使用风险，导致您对软件使用不当，造成决策和操作失误；</li>
        <li>（五）您的网络终端设备及软件系统与期货公司所提供的网上交易系统不兼容，可能导致无法下达委托或委托失败；</li>
        <li>（六）如果您缺乏网上交易经验，可能因操作不当造成交易失败或交易失误；</li>
        <li>（七）您的密码失密或被盗用。</li>
    </ul>
    <p class="text-indent">十四、您应当充分了解到，从事期货交易您应当承担的所有手续费和相关税费的明确解释。</p>
    <p class="text-indent">十五、您应当充分了解到，如果您参与《境外交易者和境外经纪机构从事境内特定品种期货交易管理暂行办法》规定的特定品种期货交易，支付的与本合同、期货合约等相关的款项涉及货币兑换的，您将承担汇率波动风险。</p>
    <p class="text-indent">本《期货交易风险说明书》无法揭示从事期货交易的所有风险和有关期货市场的全部情形。您在入市交易之前，应当全面了解期货交易法律法规、期货交易所及期货公司的业务规则，全面评估自身的经济实力、产品认知能力、风险控制能力、生理及心理承受能力（仅对自然人客户而言）等，审慎决定是否参与期货交易。</p>
    <p class="text-indent">以上《期货交易风险说明书》的各项内容，本人/单位已阅读并完全理解。</p>
    <hr>
    <div class="form-group text-center">
        <a class="btn  btn-default a_width" onclick="javascript:history.back(-1);">上一步</a>
    </div>
</div>
{% endblock %}