{% extends 'base.html' %}
{% block base %}
    {% block title %}
    <title>合规诚信承诺函</title>
    {% endblock %}

<h3 class="text-center ">合规诚信承诺书</h3>
<div class="center">
    <hr>
    <p class="">本人/本单位承诺：</p>
    <p class="text-indent">1. 本人/本单位所提供关于交易所期货交易者适当性材料真实、有效。</p>
    <p class="text-indent">2. 本人/本单位不存在严重不良诚信记录或者被有监管权机关宣布为期货市场禁止进入者的情形；不存在法律、法规、规章和交易所业务规则禁止或者限制从事期货交易的情形。</p>
    <p class="text-indent">3. 本人/本单位不存在涉金融领域严重失信或者失信被执行的情形。</p>
    <p class="text-indent">4. 本人/本单位已达到各交易所有关适当性管理办法中关于合规诚信的要求。</p>
    <p class="text-indent">5. 本人/本单位向贵单位提交交易权限开通申请时，本人/本单位在其他单位的相关交易权限仍处于有效状态，可以正常使用，未办理过注销手续。</p>
    <p class="text-indent">本人/本单位对以上承诺内容的真实性、有效性负责，如有不实，本人/本单位自愿承担由此产生的一切法律责任和后果。</p>
    <hr>
    <div class="form-group text-center">
        <a class="btn  btn-default a_width" onclick="javascript:history.back(-1);">上一步</a>
    </div>
</div>

{% endblock %}