{% extends 'base.html' %}
{% block base %}

<style>
    .a_width{width: 49%}
</style>
<!--        内容-->
<div class="center">
    <form action="{{ url_for('apply') }}" id="addForm" method="POST" enctype="multipart/form-data">
        <p class=" lead">申请类型：</p>
        <table class="table table-bordered table-hover table-condensed"  >
          <tr class="active">
              <td>中金所</td>
              <td>
                  <div class="checkbox">
                      <label>
                          {{ form.cffex_c4() }}
                        开户申请C4
                      </label>
                    </div>
              </td>
              <td></td>
          </tr>
            <tr  class="active">
              <td>能源中心</td>
              <td>
                  <div class="checkbox">
                      <label>
                          {{ form.ine_c3() }}

                        开户申请C3
                      </label>
                  </div>
              </td>
              <td>
                  <div class="checkbox">
                      <label>
                          {{ form.ine_c4() }}
                        原油期货交易权限C4
                      </label>
                  </div>
              </td>
          </tr>
            <tr  class="active">
              <td>上期所</td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.shfe_c4() }}
                        期权交易权限C4
                      </label>
                  </div>
              </td>
              <td></td>
          </tr>
            <tr class="active">
              <td>大商所</td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.dce_c3() }}
                        铁矿石期货交易权限C3
                      </label>
                  </div>
              </td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.dce_c4() }}
                        期权交易权限C4
                      </label>
                  </div>
              </td>
          </tr>
            <tr class="active">
              <td>郑商所</td>
              <td>
                   <div class="checkbox">
                      <label>
                           {{ form.czce_c3() }}
                        PTA期货交易权限C3
                      </label>
                  </div>
              </td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.czce_c4() }}
                        期权交易权限C4
                      </label>
                  </div>
              </td>
          </tr>
        </table>
        <p class=" lead">权限证明文件：</p>
        <div class="form-group">
            <ul class="list-unstyled text-indent" >
                <li style="margin: 0 auto">
                      <div class="checkbox">
                          <label>
                              {{ form.cffex_code() }}
                            具有中金所编码
                          </label>
                        </div>
                </li>
                <li>
                      <div class="checkbox">
                          <label>
                              {{ form.ine_code() }}
                            具有能源中心编码
                          </label>
                        </div>
                </li>
                <li>
                      <div class="checkbox">
                          <label>
                              {{ form.company_auth() }}
                            具有本公司其他适当性品种交易权限
                          </label>
                        </div>
                </li>
                <li>
                      <div class="checkbox">
                          <label>
                              {{ form.transact_record() }}
                            具有50个交易日交易记录（一年内）
                          </label>
                        </div>
                </li>
                <li  class="">
                      <div class="checkbox text-danger" >
                          <label  >
                              {{ form.outher_com_auth(onclick="display_files()") }}
                            具有其他公司其他适当性品种交易权限
                          </label>
                      </div>
        <!--            上边标签被选定则显示-->

                    <div id="file"  class="form-inline" style="margin-left: 45px;display:none">
                        <input class="input-large" accept="image/*" id="files" type="file" multiple>
                    </div>

                </li>
                <li>
                    注：红色项如通过其他公司完成，请提供加盖有效印章的证明文件，并上传。(仅支持png，jpg类型)
                </li>
            </ul>
         </div>
        <hr>
        <div class="form-group text-center">
            {{ form.csrf_token(id='token') }}
            <a class="btn  btn-default a_width" onclick="javascript:history.back(-1);">上一步</a>
            <!--删除图片-->
        <button type="button" class='btn btn-default a_width' data-toggle="modal" onclick="yes()" data-target=".bs-example-modal-sm">下一步</button>
        <div class="modal  bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                  <div class="modal-dialog modal-sm" role="document">
                                   <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      </div>
                                      <div class="modal-body">
                                          是否确认提交？
                                      </div>
                                      <div class="modal-footer">
                                          {{ form.submit(class="btn btn-default") }}
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                      </div>
                                    </div>
                                </div>
                            </div>
        </div>
        <div class="form-group">
            <span>{{ get_flashed_messages()[0] }}</span>
        </div>
    </form>
</div>
<script src="../../static/bootstrap-3.3.7-dist/js/lrz.bundle.js"></script>
<script type="text/javascript">

    //提交表单
   function yes () {
            var file_list = document.querySelector('#files').files;
            for(var i=0;i<file_list.length;i++) {
            data = lrz(file_list[i])
            .then(function (rst) {
                // 处理成功会执行
                send_img(rst);
            })
            .catch(function (err) {
                alert('上传失败');
                // 处理失败会执行
            })
            .always(function () {
                // 不管是成功失败，都会执行
            });
        }

        }
    function send_img(data) {
            var token = $("#token").val();
        $.ajax({
                headers: {"X-CSRFToken": token},
                contentType: 'application/json',
                url: "{{ url_for('send_img') }}",
                data: JSON.stringify(data),
                dataType: "json",
                type: "post",
                async: false,
                cache: false,
                success: function (res) {
                    // debugger;
                    if (res.status_code == 200) {
                        console.log(res)
                    } else {
                        alert("发送失败");
                    }
                },
                error: function () {
                    alert("验证码发送失败");
                }
            })

}




    // # 点击显示点击隐藏上传文件
    function display_files(){
        var files = document.getElementById("file");
        if (files.style.display == "block") {
            files.style.display = 'none';
        } else {
            files.style.display = 'block';
        }
    }


</script>
{% endblock %}