{% extends 'base.html' %}
{% block base %}

<style>
  .a_width{width: 49%}
  .img-cont{
    width:100%;
  }

  .img-cont>div>div{
    width:250px;
    height:220px;
  }
  img{
      width: 100%;
      height: 100%;
  }

  .img-cont>div>a{

    width:250px;
    height:30px;
    border-radius:4px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    display: block;
    background: #317ef3;
    margin:5px 0px;
    cursor: pointer;

  }
</style>

<!--        内容-->
<div class="center">
    {% if session.userId %}
        <p>资金账号：{{session.userId}} 姓名：{{session.userName}} 评测风险级别：{{session.userGrade}}</p>
    {% endif %}
    <form action="{{ url_for('apply') }}" id="addForm" method="POST" enctype="multipart/form-data">
        <p class=" lead">申请类型：</p>
        <div class="form-group">
            <table class="table table-bordered table-hover table-condensed"  >
          <tr class="active">
              <td>中金所</td>
              <td>
                  <div class="checkbox">
                      <label>
                          {{ form.cffex_c4() }}
                        开户申请C4
                      </label>
                    </div>
              </td>
              <td></td>
          </tr>
            <tr  class="active">
              <td>能源中心</td>
              <td>
                  <div class="checkbox">
                      <label>
                          {{ form.ine_c3() }}

                        开户申请C3
                      </label>
                  </div>
              </td>
              <td>
                  <div class="checkbox">
                      <label>
                          {{ form.ine_c4() }}
                        原油期货交易权限C4
                      </label>
                  </div>
              </td>
          </tr>
            <tr  class="active">
              <td>上期所</td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.shfe_c4() }}
                        期权交易权限C4
                      </label>
                  </div>
              </td>
              <td></td>
          </tr>
            <tr class="active">
              <td>大商所</td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.dce_c3() }}
                        铁矿石期货交易权限C3
                      </label>
                  </div>
              </td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.dce_c4() }}
                        期权交易权限C4
                      </label>
                  </div>
              </td>
          </tr>
            <tr class="active">
              <td>郑商所</td>
              <td>
                   <div class="checkbox">
                      <label>
                           {{ form.czce_c3() }}
                        PTA期货交易权限C3
                      </label>
                  </div>
              </td>
              <td>
                   <div class="checkbox">
                      <label>
                          {{ form.czce_c4() }}
                        期权交易权限C4
                      </label>
                  </div>
              </td>
          </tr>
        </table>
        </div>
        <p class=" lead">权限证明文件：</p>
        <div class="form-group">
            <ul class="list-unstyled " >
                <li style="margin: 0 auto">
                      <div class="checkbox">
                          <label>
                              {{ form.cffex_code() }}
                            具有中金所编码
                          </label>
                        </div>
                </li>
                <li>
                      <div class="checkbox">
                          <label>
                              {{ form.ine_code() }}
                            具有能源中心编码
                          </label>
                        </div>
                </li>
                <li>
                      <div class="checkbox">
                          <label>
                              {{ form.company_auth() }}
                            具有本公司其他适当性品种交易权限
                          </label>
                        </div>
                </li>
                <li>
                      <div class="checkbox">
                          <label>
                              {{ form.transact_record() }}
                            具有50个交易日交易记录（一年内）
                          </label>
                        </div>
                </li>
                <li  class="">
                    <div class="checkbox text-danger" >
                          <label  >
                              {{ form.outher_com_auth(onclick="display_files()") }}
                            具有其他公司其他适当性品种交易权限
                          </label>
                      </div>
        <!--            上边标签被选定则显示-->

                    <div id="file"  class="form-inline" style="display:none">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">点击上传</button>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">图片上传</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-xs-12 col-md-12 ">
                                            <div class="form-group">
                                                <input type="file"  id='files' value="" onchange='PreviewImage(this)' accept="image/*" />
                                            </div>
                                        </div>
                                        <hr>
<!--                                       <-- 图片容器-->
                                        <div class="container img-cont" >

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CompressImg()">上传</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    注：红色项如通过其他公司完成，请提供加盖有效印章的证明文件，并上传。(仅支持png，jpg类型)
                </li>
            </ul>
         </div>
        <hr>

        <div class="form-group text-center">
            {{ form.csrf_token(id='token') }}
            <a class="btn  btn-default a_width" onclick="javascript:history.back(-1);">上一步</a>
            {{ form.submit(class="btn btn-default a_width") }}
        </div>
        <div class="form-group">
            <span>{{ get_flashed_messages()[0] }}</span>
        </div>
    </form>
</div>

<script src="../../static/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
<script src="../../static/bootstrap-3.3.7-dist/js/lrz.bundle.js"></script>
<script type="text/javascript">
var id=0;
    var file_list = [];
    var delete_img_id_list = [];

    function PreviewImage(imgFile) {
        var pattern = /(\.*.jpg$)|(\.*.png$)|(\.*.jpeg$)|(\.*.gif$)|(\.*.bmp$)/;
        if(!pattern.test(imgFile.value)) {
          alert("系统仅支持jpg/jpeg/png/gif/bmp格式的照片！");
          imgFile.focus();
        }else{
           //定义图片路径
           var path;
           //添加显示图片的HTML元素
           id += 1;
           $(".img-cont").append("<div class='col-xs-12 col-md-4' align='center'><div id='"+id+"'><img src='' /></div><a class='delete-btn'>删除</a></div>");
           //判断浏览器类型
           if(document.all){
           //兼容IE
            imgFile.select();
            path = document.selection.createRange().text;
            document.getElementById(id).innerHTML="";
            document.getElementById(id).style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";//使用滤镜效果
           }else{
            //兼容其他浏览器
            path = URL.createObjectURL(imgFile.files[0]);
            document.getElementById(id).innerHTML = "<img src='"+path+"'/>";
           }
           //重置表单
            file_list.push(document.querySelector('#files').files[0]);
        }
    }

    //控制"按钮"显示与隐藏
    $(".img-cont").off("mouseenter","div").on("mouseenter","div",function(){
        var that=this;
        var dom=$(that).children("a");
        //为点击事件解绑，防止重复执行
        dom.off("click");
        dom.on("click",function(){
            //删除当前图片
            dom.parent().remove();
            // 记录被删除的图片id
            delete_img_id_list.push(dom.parent().context.firstChild.id)
         });
    }).off("mouseleave","div").on("mouseleave","div",function(){

    });

    // 压缩图片并上传
    function CompressImg () {
            $('body').append("<div style='display:none;width:100%; margin:0 auto;position:fixed;left:0;top:0;bottom: 0;z-index: 111;opacity: 0.5;' id='loading'> <a class='mui-active' style='left: 50%;position: absolute;top:50%'><span class='mui-spinner'></span><p style='margin-left: -10px;'>正在处理，请稍等！</p></a></div>");
        　　$("#loading").show();
            for(var i=0;i<file_list.length;i++) {
                // 判断是否被删除
            if (!delete_img_id_list.includes(String(i+1))){
                    data = lrz(file_list[i])
                    .then(function (rst) {
                        // 处理成功会执行
                        SendImg(rst);
                    })
                    .catch(function (err) {
                        // 处理失败会执行
                        alert('上传失败');
                    })
                    .always(function () {
                        // 不管是成功失败，都会执行
                    });
                }
            }
            $("#loading").hide();
            alert('正在上传请等待！')
     }
    function SendImg(data) {
        var token = $("#token").val();
        $.ajax({
                headers: {"X-CSRFToken": token},
                contentType: 'application/json',
                url: "{{ url_for('send_img') }}",
                data: JSON.stringify(data),
                dataType: "json",
                type: "post",
                async: false,
                cache: false,
                success: function (res) {
                    // debugger;
                    if (res.status_code == 200) {
                        console.log(res)
                    } else {
                        alert("发送失败");
                    }
                },
                error: function () {
                    alert("发送失败");
                }
            })

}
    // # 点击显示点击隐藏上传文件
    function display_files(){
        var files = document.getElementById("file");
        if (files.style.display == "block") {
            files.style.display = 'none';
        } else {
            files.style.display = 'block';
        }
    }


</script>
{% endblock %}