{% extends 'base.html' %}
{% block base %}
      {% block title %}
      <title>冠通期货交易权限开通申请系统</title>
      {% endblock %}
<style>
    .a_width{width: 49%}
</style>

<!--        内容-->
<div class="center">
      <form action="{{ url_for('success') }}" method="get" name="login">
          <div class="">
            <ol>
                <li><a href="{{url_for('explain',tag=1)}}">期货交易风险说明书</a></li>
                <li><a href="{{url_for('explain',tag=2)}}">合规诚信承诺函</a></li>
            </ol>
          </div>
          <hr>
          <div class="checkbox" style="margin-left: 20px">
                <label>
                    <input type="checkbox" required=required>
                    本人/本单位已阅读以上协议并充分了解期货、期权交易知识及风险
                </label>
            </div>
        <div class="text-center">
            <a class="btn  btn-default a_width" onclick="javascript:history.back(-1);">上一步</a>
            <button type="submit" class="btn btn-default a_width">下一步</button>
        </div>
      </form>
</div>

{% endblock %}