{% extends 'base.html' %}
{% block base %}
<h3 class="text-center lead">基础知识学习提示函</h3>
<div class="center">
    <div class="col-xs-12  col-sm-6 col-sm-offset-3 ">
        <p class=" ">尊敬的客户：</p>
        <ul  class="list-unstyled text-indent ">
          <li>
            <p>
              为了使您充分了解期货期权基础知识、业务规则和潜在风险，我司特为您提供一下网络学习平台，请您务必仔细浏览学习。
            </p>
          </li>
          <li>
           <a href="http://www.cffex.com.cn/hs300/">中国金融期货交易所产品</a>
          </li>
          <li><a href="http://www.cffex.com.cn/hs300wd/">中国金融期货交易所投资者服务专栏</a></li>
          <li><a href="http://www.cffex.com.cn/jysgz/">中国金融期货交易所法律法规</a></li>
          <li><a href="http://www.ine.cn/products/">上海国际能源交易中心产品介绍</a></li>
          <li><a href="http://www.ine.com.cn/edu/source/">上海国际能源交易中心投资者教育</a></li>
          <li><a href="http://www.ine.com.cn/edu/video/">上海国际能源交易中心投资者教育——视频演播室</a></li>
          <li><a href="http://www.ine.cn/regulation/regulation/">上海国际能源交易中心法律法规</a></li>
          <li><a href="http://www.shfe.com.cn/products/cu/">上海期货交易所上市品种</a></li>
          <li><a href="http://www.shfe.com.cn/bourseService/indexopt/">上海期货交易所交易所服务——指数与期权</a></li>
          <li><a href="http://www.dce.com.cn/dalianshangpin/sspz/ym/index.html">大连商品交易所上市品种</a></li>
          <li><a href="http://www.dce.com.cn/dalianshangpin/pxjy10/index.html">大连商品交易所培训教育</a></li>
          <li><a href="http://www.dce.com.cn/qiquanwang/">大连商品交易所——期权网</a></li>
          <li><a href="http://www.dce.com.cn/qhxy/">大连商品交易所——期货学院</a></li>
          <li><a href="http://www.dce.com.cn/dalianshangpin/fg/fz/index.html">大连商品交易所法规/规则</a></li>
          <li><a href="http://www.czce.com.cn/cn/sspz/H7702index_1.htm">郑州商品交易所上市品种</a></li>
          <li><a href="http://edu.czce.com.cn/">郑州商品交易所衍生品学苑</a></li>
          <li><a href="http://www.czce.com.cn/cn/flfg/H7705index_1.htm"> 郑州商品交易所法律及规则</a></li>
          <li><a href="http://www.gtfutures.com.cn/MainPage.aspx?code=623178546">冠通期货投资者教育</a></li>

        </ul>
        <p class="text-right ">冠通期货股份有限公司</p>
        <hr>
        <a class="btn  btn-default a_width" href="{{ url_for('login') }}" role="button">下一步</a>
    </div>
</div>
{% endblock %}