{% extends 'base.html' %}
{% block base %}
<style>
    .center{
        width: 80%;margin: 0 auto;
    }
</style>
<!--        内容-->
<div class="center">
  <form action="{{ url_for('login') }}" method="post" name="login">
      <div class="form-group col-xs-12  col-sm-4  col-sm-offset-4 ">
          {{ form.userId(class='form-control',id='userid',required=required) }}
      </div>
      <div class="form-group col-xs-12  col-sm-4 col-sm-offset-4">
          {{ form.userName(class='form-control',id='username',required=required) }}
      </div>
      <div class="form-group col-xs-6  col-sm-2 col-sm-offset-4">
          {{ form.code(class='form-control',required=required) }}
      </div>
      <div class="form-group col-xs-6  col-sm-2 "  >
          <a  class="btn btn-success a_width" id="SendCode" onclick="SendCode()" >获取验证码</a>
      </div>
      <div class="form-group col-xs-12  col-sm-5 col-sm-offset-3">
              <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label style="font-size: 12px;">
                        {{ form.read_old(required=required)}}
                        我已通过阅读《基础知识学习提示函》，了解相关业务基础知识、业务规则及潜在风险等。
                    </label>
                  </div>
              </div>
      </div>

      <div class="form-group col-xs-12  col-sm-4 col-sm-offset-4 ">
          <div>{{ form.csrf_token(id='token') }}</div>
          {{ form.submit(class='btn btn-primary a_width') }}
      </div>
      <div class="form-group col-xs-12  col-sm-4 col-sm-offset-4">
          <span class="text-danger text-center">{{ get_flashed_messages()[0] }}</span>
      </div>
    </form>
</div>
<script type="text/javascript">
    // 发送验证码
    function SendCode(){
        var code = $("#SendCode");
        var userid = $("#userid").val();
        var username = $("#username").val();
        var token = $("#token").val();
        var tag = tag_(code,userid,username);
        if (tag){
            $.ajax({
                headers:{"X-CSRFToken":token},
                contentType:'application/json',
                url:"{{ url_for('sendCode') }}",
                data: JSON.stringify({userid:userid,username:username}),
                dataType:"json",
                type:"post",
				async:false;
                cache : false,
                success:function(res){
                    // debugger;
                    if(res.status_code == 200){
                            alert(res.msg);
                            sleep(code,60);
                    }else if(res.status_code == 301){
                        alert(res.msg);
                        self.location.href="http://114.251.192.185:8080/clients/register/start"
                    }
                    else{
                        alert(res.msg);
                        sleep(code,10);
                    }
                },
                error:function(){
                    alert(res.msg);
                    window.location.reload();
                }
            })
        }
    }

    // 验证账号与姓名是否填写
    function tag_(code,userid,username) {

        if(userid && username){
            return true
        }else {
            var msg = $("#msg");
            msg.html('请输入账号与姓名');
            return false
        }
}

	// 等待60s
    function sleep(code,time,errormsg) {
        code.attr("disabled", "disabled");
        code.attr("onclick", "");
	    var set=setInterval(function(){
	        code.html(--time+"秒");
	    }, 1000);

	    setTimeout(function(){
            code.attr("disabled",false).html("重新获取验证码");
            code.attr("onclick", "SendCode()");
            clearInterval(set);
	    }, 1000*time);
    }
</script>
{% endblock %}