{% extends 'base.html' %}
{% block base %}
<!--        内容-->
<h3 class="text-center lead">冠通期货交易权限开通申请系统</h3>
<div class="center">
  <form action="{{ url_for('login') }}" method="post" name="login">

      <div class="form-group">
          {{ form.userId(class='form-control',id='userid',required=required) }}
      </div>

      <div class="form-group">
          {{ form.userName(class='form-control',id='username',required=required) }}

      </div>

      <div class="form-group"  >
          <a  class="btn btn-success a_width" id="SendCode" onclick="SendCode()" >获取验证码</a>
      </div>

      <div class="form-group">
          {{ form.code(class='form-control',required=required) }}
      </div>

      <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                        {{ form.read_old(required=required)}}
<!--                        <input type="checkbox" required="required">-->
                        我已通过阅读《基础知识学习提示函》，了解相关业务基础知识、业务规则及潜在风险等。
                    </label>
                  </div>
              </div>
      </div>
      <div class="form-group">
          <div>{{ form.csrf_token(id='token') }}</div>
          {{ form.submit(class='btn btn-default a_width') }}
          <span>{{ get_flashed_messages()[0] }}</span>
      </div>
    </form>
</div>
<script type="text/javascript">

    // 发送验证码
    function SendCode(){
        var code = $("#SendCode");
        var userid = $("#userid").val();
        var username = $("#username").val();
        var token = $("#token").val();
        var tag = tag_(code,userid,username);
        if (tag){
            $.ajax({
                headers:{"X-CSRFToken":token},
                contentType:'application/json',
                url:"{{ url_for('sendCode') }}",
                data: JSON.stringify({userid:userid,username:username}),
                dataType:"json",
                type:"post",
                async : false,
                cache : false,
                success:function(res){
                    // debugger;
                    if(res.status_code == 200){
                            sleep(code,60);
                    }else{
                        sleep(code,10);
                    }
                },
                error:function(){
                    alert("验证码发送失败");
                }
            })
        }
    }

    // 验证账号与姓名是否填写
    function tag_(code,userid,username) {

        if(userid && username){
            return true
        }else {
            var msg = $("#msg");
            msg.html('请输入账号与姓名');
            return false
        }
}
	// 等待60s
    function sleep(code,time,errormsg) {

        code.attr("disabled", "disabled");
	    var set=setInterval(function(){
	        code.html(--time+"秒后重新获取");
	    }, 1000);

	    setTimeout(function(){
            code.attr("disabled",false).html("重新获取验证码");
            clearInterval(set);
	    }, 1000*time);
    }
</script>
{% endblock %}