<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>运维</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <style>
        .header .navbar{background-color: #1b6d85;height: 45px;}
        .header .navbar-header a{color: rgba(255,255,255,.7);font-size: 25px}
        .header .navbar li a{color: #0C0C0C}
        .header .navbar li p{color: #0C0C0C}
      .main a{text-decoration: none;}
      .text-indent{text-indent:2em;}
      .a_width{width: 100%}
      table td{vertical-align: middle !important;}
        #pdfContainer{background-color: white}
    </style>
  </head>
  <body>
  <!--    导航条-->
    <div class="header">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Gt Futures</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ><a href="{{ url_for('queryList') }}">用户申请</a></li>
                <li ><a href="{{ url_for('changePassword') }}">密码修改</a></li>
                {% if session.tag%}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员账户 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li ><a href="{{ url_for('adminRegister') }}">角色设置</a></li>
                        <li><a href="#">协议维护</a></li>
                      </ul>
                    </li>
                  {% endif %}

              </ul>

                {% if session.adminUserId %}

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">当前登录: {{session.adminUserId}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li ><a href="{{ url_for('adminlogout') }}">注销</a></li>
                      </ul>
                    </li>
                  </ul>
                {% endif %}
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        </div>
  <!--    内容-->
    <div id="pdfContainer" class="container-fluid warp">
      <div class="container main">
<!--        页眉-->
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
            <small>冠通期货</small>
          </div>
        </div>
        <hr>
<!--        内容-->
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
<!--模板继承-->
            {% block base %}

            {% endblock %}

<!--页面尾部-->
          </div>
        </div>

<!--        页脚-->
        <hr>
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
            <small>冠通客服电话：400-6678-656</small>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="../static/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
  </body>
</html>