{% extends 'base.html' %}
{% block base %}

<style>
    .a_width{width: 49%}
</style>
<!--        内容-->
<h3 class="text-center lead"></h3>
<div class="center">
        <div class="form-group">
            <ol>
              <li>期货交易风险说明书</li>
              <li>合规诚信承诺函</li>
            </ol>
            <div class="col-sm-offset-2 col-sm-10 ">
          <div class="checkbox">
            <label>
                <input type="checkbox" name="">
                本人/本单位已阅读以上协议并充分了解期货、期权交易知识及风险
            </label>
          </div>
      </div>
        </div>
        <div class="form-group text-center">
            <a class="btn  btn-default a_width" onclick="javascript:history.back(-1);">上一步</a>
            <a class="btn  btn-default a_width" href="{{ url_for('success') }}" role="button">下一步</a>

        </div>
</div>

{% endblock %}