{% extends 'base.html' %}
{% block base %}

<style>
    .a_width{width: 49%}
</style>
<!--        内容-->
<h3 class="text-center lead"></h3>
<div class="center">
        <div class="form-group">
            <p class="lead">
                您已成功提交权限开通刚申请！您可以致电公司客服电话400-6678-656查询办理进度，感谢您的配合，预祝您交易顺利！
            </p>
        </div>

        <div class="form-group text-center">
            <a class="btn  btn-default a_width" o href="javascript:window.opener=null;window.open('','_self');window.close();">关闭</a>

        </div>
</div>

{% endblock %}