{% extends 'base.html' %}
{% block base %}
<!--        内容-->
<div class="center">
  <form action="{{ url_for('adminLogin') }}" method="post" name="login">

      <div class="form-group  col-xs-12  col-sm-4 col-sm-offset-4">
          {{ form.adminUserId(class='form-control',id='adminUserId',required=required) }}
      </div>

      <div class="form-group  col-xs-12  col-sm-4 col-sm-offset-4">
          {{ form.password(class='form-control',id='password',required=required) }}
      </div>

      <div class="form-group  col-xs-12  col-sm-4 col-sm-offset-4">
          <div>{{ form.csrf_token(id='token') }}</div>
          {{ form.submit(class='btn btn-primary a_width') }}
          <span>{{ get_flashed_messages()[0] }}</span>
      </div>

      <div class="form-group  col-xs-12  col-sm-4 col-sm-offset-4">
          <p class="text-danger text-center ">
            {% if get_flashed_messages() %}
                <span>{{ get_flashed_messages()[0] }}</span>
            {% elif  form.adminUserId.errors%}
                <span>{{ form.adminUserId.errors[0] }}</span>
            {% elif  form.password.errors%}
                <span>{{ form.password.errors[0] }}</span>
            {% endif %}
          </p>
      </div>
    </form>
</div>

{% endblock %}